:root {
  --form-color: white;
  --button-color: #0f5897;
  --animation-color: #4791d0;
}

body {
  background: url("images/reka.png");
}

#navbar ul li {
  display: inline-block;
  padding-right: 25px;
}

#navbar {
  position: fixed;
  background-color: BurlyWood;
}

#navbar ul li a.active-page {
  background-color: bisque;
}

.container1 {
  text-align: center;
  padding-top: 50px;
}

form {
  text-align: left;
}

.form-container {
  width: 25%;
  margin: auto;
  padding: 10px;
  border-style: solid;
  background-color: var(--form-color);
}

#name-label,
#email-label,
#number-label,
#dropdown-label {
  display: block;
}

button {
  border-radius: 5px;
  color: white;
  background-color: var(--button-color);
  padding: 5px 10px;
  width: 100%;
}
button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: var(--animation-color);
  }
}

footer {
  text-align: center;
  padding: 3px;
  background-color: BurlyWood;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

.container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

#table-contents {
  text-align: center;
}

.box1 h1 {
  text-align: center;
  font-family: Lobster, Arial, Helvetica, sans-serif;
}

#title {
  font-family: Lobster, Arial, Helvetica, sans-serif;
}
