:root {
  --form-color: burlywood;
  --button-color: #0f5897;
  --animation-color: #4791d0;
}

body {
  background: url("images/reka.png");
}

#navbar ul li {
  display: inline-block;
  padding-right: 25px;
}

#navbar {
  position: fixed;
  background-color: BurlyWood;
  width: 100%;
}

#navbar ul li a.active-page {
  background-color: bisque;
}

.container1 {
  text-align: center;
  padding-top: 50px;
}

form {
  text-align: left;
}

.form-container {
  width: 25%;
  margin: auto;
  padding: 10px;
  border-style: dotted;
  background-color: var(--form-color);
}

#name-label,
#email-label,
#number-label,
#dropdown-label {
  display: block;
}

button {
  border-radius: 5px;
  color: white;
  background-color: var(--button-color);
  padding: 5px 10px;
  width: 100%;
}
button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: var(--animation-color);
  }
}

footer {
  text-align: center;
  padding: 3px;
  background-color: BurlyWood;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

.container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

#table-contents {
  text-align: center;
  width: 20%;
  margin: auto;
}

.box1 h1 {
  text-align: center;
  font-family: Lobster, Arial, Helvetica, sans-serif;
}

#title {
  font-family: Lobster, Arial, Helvetica, sans-serif;
}

.black {
  color: black;
}

div.box1 p {
  width: 60%;
  margin: auto;
}

.container2 {
  padding-top: 60px;
  width: 50%;
  margin: auto;
}

.mflex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mpage-title {
  font-family: Lobster, Arial, Helvetica, sans-serif;
  text-align: center;
}

.toptitle {
  font-family: Lobster, Arial, Helvetica, sans-serif;
}

.movie {
  padding-bottom: 75px;
  border-style: dotted;
  border-color: burlywood;
}

.containerf {
  padding-top: 60px;
  width: 75%;
  margin: auto;
  text-align: center;
}

.flexf {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 20px;
}

.f1 {
  width: 45%;
  border: 10px burlywood double;
}

.f1 h3 {
  text-align: center;
}
